//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

html body {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP',sans-serif !important;
}

.menuItem {
  font-weight: bold !important;
  transition: all .2s ease-in-out !important;

  &:hover {
    color: #1976d2 !important;
  }

  .menuItemDetails {
    font-weight: 500 !important;
  }
}

.footerItem {
  color: hsla(0,0%,98%,.4) !important;
  font-weight: bold !important;
  text-decoration: underline !important;
  font-size: 16px !important;
  transition: all .2s ease-in-out !important;
  &:hover {
    color: hsla(0,0%,98%,.8) !important;
  }
}

.mgr5 {
  margin-right: 5px;
}

.mgr10 {
  margin-right: 10px;
}

.mgt5 {
  margin-top: 5px;
}

.mgt10 {
  margin-top: 10px;
}

.mgt15 {
  margin-top: 15px;
}

.mgt20 {
  margin-top: 20px;
}

.mgl5 {
  margin-left: 5px;
}

.mgl10 {
  margin-left: 10px;
}

.mgb5 {
  margin-bottom: 5px;
}

.mgb10 {
  margin-bottom: 10px;
}

button {
  border-radius: 1px !important;
}

.round-info {
  line-height: 0;
  svg {
    circle {
      fill: white;
    }

    .i, .outline {
      fill: #333;
    }

    &:Hover {
      circle {
        fill: #333
      }

      .i {
        fill: white
      }
    }
  }
}