@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans',sans-serif !important;
}

.menuItem {
  font-weight: bold !important;
  transition: all .2s ease-in-out !important;

  &:hover {
    color: #1976d2 !important;
  }

  .menuItemDetails {
    font-weight: 500 !important;
  }
}

.footerItem {
  color: hsla(0,0%,98%,.4) !important;
  font-weight: bold !important;
  text-decoration: underline !important;
  font-size: 16px !important;
  transition: all .2s ease-in-out !important;
  &:hover {
    color: hsla(0,0%,98%,.8) !important;
  }
}