$collapseSidebar: 50px;
$uncollapseSidebar: 256px;
$btn-active-clr: #fff;
$btn-active-bk: #1377EB;
$btn-inactive-clr: #000;
$btn-inactive-bk: #e8e8e8;
$btn-border-clr: #eee;

$span-bk-clr: #8D6BF7;

.flex-sub-wrapper {
  display: flex; 
  flex-direction: column;
  margin-right: 0.5rem;
  margin-top: 1rem;
}

.sidebar {
  height: 100%;
  background-color: $btn-active-bk;
  
  .sidebar-nav {
    display: flex;
    flex-direction: column;
    height: 100%;

    .logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 40px;
    }

    .nav-itm {
      justify-content: flex-start;
      color: white;
      padding-left: 12px;
      min-width: 48px !important;
    }
  }
}

.box-wrapper-shadow {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 6px;
  box-shadow: 2px 2px 10px #eee;
}

.manager {
  button {
    height: 33px !important;
    background-color: white;
    border-color: $btn-active-bk;
    color: $btn-active-bk;
  
    &.active {
      background-color: $btn-active-bk;
      color: $btn-active-clr;
    }
  
    &.inactive {
      background-color: $btn-inactive-bk;
      border-color: $btn-border-clr;
      color: $btn-inactive-clr;
    }

    svg.manual {
      position: relative;
      top: 1px;
      right: 5px;
    }
  }

  .research {
    .search-box {
      padding: 24px; 
      border: 1px solid #f5f5f5; 
      border-radius: 6px;
      box-shadow: 2px 2px 10px #fafafa;
    }

    .search-item-wrapper {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      font-weight: 600;
      font-size: 14px;
      line-height: 1.5;

      .search-item-header {
        display: flex;
        align-items: center;
      }

      span.clear {
        cursor: pointer;
        padding: 0px;
        font-size: 12px;
        color: $btn-active-bk;
        justify-content: right;
        min-width: auto;
        &:Hover {
          background-color: transparent;
        }
      }
    }

    &-content {
      margin-top: 16px;
      
      &-header {
        font-size: 14px;
        white-space: nowrap;
      }

      &-account-grid {
        display: grid;
        grid-template-columns: 30fr 28fr 22fr 22fr 22fr;
      }

      &-insight-grid {
        display: grid;
        grid-template-columns: 15fr 28fr 22fr 22fr 10fr 30fr;
      }

      &-item {
        align-items: center;
        justify-content: flex-start;        
        cursor: pointer;
        margin-top: 8px;
        margin-bottom: 8px;

        position: relative;

        .profile {
          display: flex;
          align-items: center;
          justify-content: flex-start
        }

        .instagram {
          div {
            display: -webkit-box;
            max-height: 60px;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
          }

          .instagram-link {
            position: relative;
            color: $span-bk-clr;
            font-size: 14px;
            text-decoration: none;
  
            &::after {
              position: absolute;
              top: -.3rem;
              right: -.8rem;
              bottom: -.8rem;
              left: -.8rem;
              content: "";
            }
          }
        }

        .followers {
          min-width: 8rem;

          .first {
            font-size: 20px;
            line-height: 1.25;
          }

          .second {
            font-size: 14px;
            color: #9e9e9e;
            line-height: 1.25;
          }
        }

        .action {
          display: flex;
          align-items: center;
          align-self: start;
          justify-content: space-evenly;
          height: 100%;
          margin-right: 0;

          .relative-action {
            position: relative;
            display: flex;
            align-items: stretch;
            justify-content: center;
            min-width: 90px;
            height: 36px;
            cursor: default;

            button {
              border: 1px solid $btn-active-bk;
              color: $btn-active-bk;
              width: 100%;
              height: 36px;
              padding-right: 1rem;
              padding-left: 1rem;
              font-size: 1rem;
              cursor: pointer;
  
              path {
                fill: $btn-active-bk
              }
            }
          }
        }
      }
    }

    .load-more {
      overflow-anchor: none;
      display: flex;
      justify-content: center;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .saveDlg {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      width: 19rem;
      background: #fff;
      box-shadow: 4px 4px 12px #f5f5f5;
      border: 1px solid #e0e0e0;
      transform: translateX(-3px) translateY(1rem);

      .up-triangle {
        right: 1.5rem;
        position: absolute;
        top: -35px;
        width: 35px;
        height: 35px;
        overflow: hidden;
        pointer-events: none;

        &::after {
          position: absolute;
          content: "";
          top: 26.25px;
          left: 8.75px;
          width: 17.5px;
          height: 17.5px;
          background: #fff;
          border: 1px solid #e0e0e0;
          box-shadow: 4px 4px 12px #f5f5f5;
          transform: rotate(45deg);
        }
      }

      .saveDlgToolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .saveDlgButtons {
        display: flex;
      }

      h6 {
        margin: 1rem;
        font-weight: 700;
        font-size: 14px;
        position: relative;
      }

      .closeIcon {
        margin-right: 5px;
        cursor: pointer;

        &:hover {
          color: $btn-active-bk
        }
      }

      .contents {
        max-height: 16.25rem;
        margin: 0;
        padding: 0;
        padding-bottom: 1rem;
        overflow-y: auto;
        list-style: none;
        border-top: 1px solid #e0e0e0;

        li {
          margin-left: 8px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 14px;
          padding: 0px
        }
      }

      .add-to-list {
        position: relative;
        display: flex;
        align-items: center;
        height: 48px;
        margin-right: -1px;
        margin-bottom: -1px;
        margin-left: -1px;
        border: 1px solid #e0e0e0;

        .create-list {
          position: relative;
          z-index: 3;
          display: flex;
          flex: 1;
          align-items: center;
          padding-right: 1rem;
          padding-left: 1rem;
          background: #fff;
          border: none;
          font-size: 14px;

          .create-list-plus {
            width: 2rem;
            height: 2rem;
            margin-right: .5rem;
          }
        }
      }
    }
  }
}

.content-wrapper {
  width: 100% !important;
  max-width: 1024px !important;
  min-width: 690px;
  padding: 32px 0px 48px 0px !important;
  margin: 40px;
}

.campaignName {
  border-color: transparent;
  background: none;
  
  .MuiOutlinedInput-root {
    height: 2.4em;
  }  
  
  fieldset {
    border-color: transparent;
    border-radius: 5 !important;
  }

  .Mui-focused {
    border-color: #1976D2 !important;
  }
}

.wrapper-grid {
  display: grid;
  grid-gap: .5rem;
}

.grid-item {
  text-align: center;
  padding: .5rem;

  &.leftalign {
    text-align: left
  }

  &.nopadding {
    padding: 0;
    text-align: left;
  }
  
  span {
    font-size: 0.7rem;
    color: #5c5c5c;
  }
}

.wrapper-box {
  margin-top: .5rem;
  padding: .5rem;
}

.subtitle {
  font-size: 20px;
  font-weight: 600;
}

.subtitle1 {
  font-size: 14px;
  font-weight: 600;
}

.subtitle2 {
  font-size: 11px;
  font-weight: 600;
}

.ui-bar-comp {
  height: 4px;
  background: #eee;
  margin: 5px 0px 10px 0px;
}

.ui-bar-progress {
  background: $span-bk-clr;
  height: 100%;
}

.bar-chat-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  .bar-chat-candle {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 110px;

    .bar-candle {
      width: 6px;
      min-height: 5px;
      border-radius: 8px;

      &.first {
        background: rgb(239, 83, 80);
      }

      &.second {
        background: rgb(75, 0, 130);
      }
    }

    .bar-candle-caption {
      margin-bottom: 5px;
      color: #757575;
      font-size: 10px;
    }
  }
}

.genre-span {
  background: $span-bk-clr;
  border-radius: 20px;
  margin: .2rem .3rem .2rem .2rem;
  padding: 0 .5rem;
  color: white;
}

.interest-span {
  font-size: 14px;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.alike-btn {
  min-width: 40px;
  color: $btn-active-bk;

  svg {
    fill: $btn-active-bk;
  }
}

.influencer-brief {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  button {
    background-color: white;
    border-color: $btn-active-bk;
    color: $btn-active-bk;
  
    &.active {
      background-color: $btn-active-bk;
      color: $btn-active-clr;
    }
  }

  .influencer-toolbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;

    .close {
      min-width: 40px;
      height: 40px;
      padding: 0px;
      border-radius: 50% !important;
      background: #B9E5F9;

      &:hover {
        background: #b4cbd4;
      }
    }

    .save {
      border: 1px solid $btn-active-bk;
      color: $btn-active-bk;
      height: 36px;
      padding-right: 1rem;
      padding-left: 1rem;
      font-size: 1rem;
      cursor: pointer;

      svg {
        margin-right: 5px;
      }
      path {
        fill: $btn-active-bk
      }
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .lastupdates, .audiencedetails, .mostposts {
    margin: 1rem;
    margin-top: 2rem;
  }
}

.evenoddTable {
  tr {
    th {
      padding: .7rem,
    }
  }
  tbody {
    tr{
      &:nth-child(odd) {
        background-color: #c8c8c836;
      }

      &:hover {
        box-shadow: 0px 0px 9px #00000029;
        &:nth-child(odd) {
          background-color: #c8c8c836;
        }
        &:nth-child(even) {
          background-color: #fff;
        }
      }

      &.Mui-selected {
        border: 1px solid #1377eb;
      }

      td {
        padding: .7rem,
      }
    }
  }
}

.styledTable {
  padding: 10px;
  th {
    border: unset;
  }

  tbody {
    tr{
      &:nth-child(odd) {
        background-color: #c8c8c836;
      }

      &:hover {
        box-shadow: 0px 0px 9px #00000029;
        &:nth-child(odd) {
          background-color: #c8c8c836;
        }
        &:nth-child(even) {
          background-color: #fff;
        }
      }

      td {
        border: unset;
        cursor: pointer;
      }

      &.Mui-selected {
        border: 1px solid #1377eb;
      }
    }
  }
}

.list-page {
  .valueItemContainer {
    display: flex;
    justify-content: flex-start;
    .valueItem {
      text-align: center;
      flex: 15% 0 0;
      .value {
        font-size: 16px;
        font-weight: bold;
        min-width: 160px;
      }
      .title {
        font-size: 14px;
        color: #969696;
      }
    }
  }
}

.post-page {
  .valueItemContainer {
    display: flex;
    justify-content: flex-start;
    .valueItem {
      text-align: center;
      flex: 11% 0 0;
      .value {
        font-size: 16px;
        font-weight: bold;
        min-width: 130px;
      }
      .title {
        font-size: 14px;
        color: #969696;
      }
    }
  }
}

.report-page {
  .detail-section {
    padding: 30px 20px;
    .label-container {
      display: flex;
      margin-left: 20px;
      margin-top: 10px;
      align-items: center;
      column-gap: 20px;
      .text {
        font-size: 16px;
        font-weight: 500;
        width: 80px;
      }
    }
    .label-container-nested {
      margin-left: 4px !important;
      margin-top: 0px !important
    }
    .value-container {
      display: flex;
      margin: 15px 10px 10px 120px;
      align-items: center;
      column-gap: 20px;      
    }
  }
}

.ratingContainer {
  display: flex;
  justify-content: center;
}

.lazyimagenoblur {
  filter: blur(0px) !important;
}

.campaign-sidebar {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  button {
    background-color: white;
    border-color: $btn-active-bk;
    color: $btn-active-bk;
  
    &.active {
      background-color: $btn-active-bk;
      color: $btn-active-clr;
    }
  }

  .toolbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;

    .close {
      min-width: 40px;
      height: 40px;
      padding: 0px;
      border-radius: 50% !important;
      background: #B9E5F9;

      &:hover {
        background: #b4cbd4;
      }
    }

    .save {
      border: 1px solid $btn-active-bk;
      color: $btn-active-bk;
      height: 36px;
      padding-right: 1rem;
      padding-left: 1rem;
      font-size: 1rem;
      cursor: pointer;

      svg {
        margin-right: 5px;
      }
      path {
        fill: $btn-active-bk
      }
    }
  }

  .profile-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .rating-star path{
      transition: all .2s ease-in-out;
      &:hover {
        fill: #FFC80050;
      }
    }

    .name {
      font-size: 16px;
      font-weight: 600;
    }

    .link {
      color: $span-bk-clr;
      font-size: 14px;
      text-decoration: none;
    }
  }

  .profile-detail {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px 30px;

    .profile-item {
      flex: 50% 0 0;
      display: flex;
      margin-top: 10px;

      .label {
        font-size: 16px;
        font-weight: 500;
      }

      .value {
        font-size: 16px;
        font-weight: 500;
        margin-left: 10px;
        color: #6f6f6f;
      }
    }
  }
}

.upgradeWrapper {
  .upgradeselected {
    box-shadow: 0 0 8px #4aabed;
    &::before {
      position: absolute;
      top: -34px;
      left: -16px;
      z-index: -1;
      display: flex;
      justify-content: center;
      width: calc(100% + 32px);
      height: calc(100% + 50px);
      padding-top: 5px;
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      background: #92cdf4;
      border: 1px solid #4aabed;
      border-radius: 6px;
      content: "Modash recommends";
    }
  }
  .qaSubWrapper {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 94%;
      left: 3%;
      border-bottom: 1px solid #999;
    }
  }
}

.nav-itm-wrapper {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
  font-weight: 400;
  background-color: transparent;
  &:Hover {
    background-color: #6883E4;
  }
}

.nav-item-current {
  font-weight: 600 !important;
  background-color: #816BF7 !important; 
}
